h1 {
    text-align: center;
}

body {
    background-color: #6d6d6d;
}

img {
    align-items: center;
    display: flex;
}

.navbar {
    background-color: #1f1f1f;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: rgb(24, 19, 19);
}