/* Configuração Geral da página */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #311731;
}


/* Configuração da navbar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background: #251d40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar ul li a:hover {
    transition: 0.6s;
    border-radius: 30px;
}

.navbar ul li:hover a {
    transform: translateY(-5px);
    transition: all 0.5s;
}


/* Configuração da Logo do site */
.logo img{
    display: flex;
    max-width: 300px;
    align-items: center;
    margin: 0;
}


/* Configuração do conteúdo sobre mim */
.about {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 100px 9% 40px;
    color: #fff;
}

.about .about-me {
    font-size: 20px;
}

.about-me .sci a {
    text-decoration: none;
    display: inline-flex;
    padding: 20px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    margin: 15px 8px;
}

.about-me .sci a:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.about-me .sci a i:hover {
    color: hsl(240, 97%, 51%);
    transition: 0.5s;
}

/* Configurando a imagem da Home Page */
.home-img .img-box {
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #311731;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: -5px;
    display: block;
    width: 200%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

/* Configurando a hiddenPage de jogos */
.hiddenPage {
    position: relative;
    display: flex;
    justify-content: center
}

.hiddenPage a {
    position: absolute;
    display: block;
    right: -12px;
}

.menu-burger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.menu-burger::before,
.menu-burger::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}


/* Configurando o media screen da página */
@media (max-width: 700px){

    .navbar{
        flex-direction: column;
        padding: 15px 5%;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    /* configuração da logo */
    .logo img {
        max-width: 200px;
    }

    /* Configuração do menu burguer */
    .menu-burger {
        display: block;
        z-index: 1;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    /* Configurando a lista da navbar */
    .nav-list {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: #251d40;
        clip-path: circle(0px at 100% 0%);
        transition: clip-path 1s  ease-in-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    /* Estilos ativos da navList */
    .nav-list.active {
        clip-path: circle(1500px at 90% 15%);
        pointer-events: all;
    }

    .nav-list.active a {
        opacity: 1;
    }

    .nav-list.active .menu-burger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav-list.active .menu-burger::before {
        transform: rotate(135deg);
    }

    .nav-list.active .menu-burger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    /* configuração de sobre mim */
    .about {
        flex-direction: column;
        align-items: center;
        padding: 120px 5% 40px;
        text-align: center;
    }

    .about-me {
        font-size: 18px;
    }

    .about-me .sci a {
        font-size: 80px;
        padding: 40px;
    }

    /* Manipulando a imagem principal da homepage */
    .home-img .img-box {
        width: 50vw;
        height: 50vw;
    }

    /* Manipulação da mini imagem da hidden page */
    .hiddenPage a {
        right: 0;
        font-size: 14px;
    }
}

@media (min-width: 400px) {

    .navbar {
        padding: 20px 5%;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .about-me {
        font-size: 16px;
    }

    /* Configuração sobre mim */
    .about-me .sci a {
        font-size: 35px;
        padding: 20px;
    }

    .home-img .img-box {
        width: 40vw;
        height: 40vw;
    }
}
