* {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    color: #fff;
}

body {
    background-color: #0d0d0d;
    margin: 0px;
    align-items: center;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    align-items: center;
}


.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
    transition: 0.6s;
    border-radius: 30px;
}

.navbar li {
    float: right;
}


.circular-img {
    width: 45%;
}


.carrer {
    background-color: #0650a5;
}

.div-carrer {
    color: #fff;
}

.contact {
    background-color: rgb(41, 214, 214);
    margin-top: -19px;
}

.div-contact {
    color: #0d0d0d;
}

.aboutme {
    color: #fff;
}

.hidden {
    cursor: pointer;
    margin-left: 108%;
    margin-right: 3.7%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.content {
    padding: 100px;
}